<%= render 'layouts/header_app' %>

<div class="container">
    <div class="row">
        <div class="col-md-9 job_board">
            <h2>Investor Loan Specialist</h2>
            <p>Retail Lending | Chicago, IL | Full Time</p>
            <hr>
            <h4>JOB DESCRIPTION</h4>
            <p>Flipbank is the nation’s fastest growing provider of rehab and commercial funding to small- and mid-sized real estate investors. Our mission is to revolutionize and simplify the lending space for real estate investors and provide them with affordable funding options currently unavailable through conventional commercial banks. Over the next 18 months, our goal is to lend over $1 billion to small- to medium-sized real estate investors around the country.</p>
            <h4>What You'll Be Doing</h4>
            <p>Flipbank is actively looking for an Investor Loan Specialist in the Chicagoland area. As an Investor Loan Specialist your primary roles will include responding to inbound leads, actively pursuing outbound leads, and ultimately navigating new investors through Flipbank’s loan investment platform. </p>
            <p>Although we provide exhaustive training, our ideal candidate has a minimum of 1-3 years of lending experience, preferably in the construction and/or commercial space. We have seen tremendous success from former mortgage brokers with large networks of builders, rehabbers and realtors. Due to the highly competitive nature of this market, candidates must be aggressive, hard-working individuals who are self-motivated and detail oriented.</p>
            <p>Our successful Specialists are highly compensated and given extensive training and mentoring to ensure their success. Elevation to management positions can occur very quickly.</p>
            
            <h4>Job Requirements</h4>
            <ul>
               <li> &raquo; Mortgage lending and/or commercial finance sales background with demonstrated success.</li><br>
               <li> &raquo; Must have exceptional communication, networking, interpersonal, organizational and problem solving skills.</li><br>
                <li>&raquo; Be highly competitive and results oriented.</li><br>
                <li>&raquo; Demonstrate the ability to cultivate relationships with builders, rehabbers and realtors.</li><br>
                <li>&raquo; Exhibit the ability to sell and market loan products.</li><br>
                <li>&raquo; Strong work ethic, discipline, enthusiasm, and perseverance.</li>
            
            </ul>
            <h4>How to Apply</h4>
            <p>Please submit your resume online with a cover letter stating: 1) Why you’re interested in working for Flipbank, and 2) A brief summary of how you meet each of our qualifications. The best way to do this is to copy/paste the requirements bullets and put a brief answer after each summarizing your relevant experience.</p>
            <p>We are moving quickly, so expect to receive a response within 24 hours of your application. Thanks!</p>
            
        </div>
        <div class="col-md-3 job_sidebar">
            <button class="btn btn-success btn-block">APPLY FOR THIS JOB</button>
            
            <button class="btn btn-default btn-block">SHARE &nbsp;
                <a href="http://www.linkedin.com/company/flipbank/"<i class="fa fa-linkedin share"></i></a>&nbsp;
                <a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"<i class="fa fa-facebook share"></i></a> &nbsp;
                <a href="http://www.twitter.com/flipbank_usa"<i class="fa fa-twitter share"></i></a>&nbsp;
                <a href="#"<i class="fa fa-envelope share"></i></a>
            </button><br>
            <div class="text-center"><i class="fa fa-lock"></i>  Your information is secure</div>
        <%#=link_to   %> 
  		<%#=link_to image_tag("twitter.png"),  %> 
  		<%#=link_to image_tag("youtube.png"), "https://www.youtube.com/channel/UCOsXvyuqfPhTpn0zxWuiqoQ?guided_help_flow=3" %>
  		<%#=link_to image_tag("instagram.png"), "http://www.instagram.com/flipbank_usa" %> 
  		<%#=link_to image_tag("snapchat-48.png"), "http://www.snapchat.com/add/flipbank" %>
  		<%#=link_to image_tag("linkedin.png"),  %> 
            
            <hr>
            <p>LOCATION</p>
            <p>Chicago Metro Area</p>
            <p>insert google map</p>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">FlipBank is an Equal Opportunity Employer</h3>
    <br><br>
</div>