<%= render 'layouts/header_app' %>

<div class="container">
    <div class="row">
        <div class="col-md-9 job_board">
            <h2>Business Development Manager</h2>
            <p>Retail Lending | Chicago, IL | Full Time</p>
            <hr>
            <h4>JOB DESCRIPTION</h4>
            <p>Founded in 2015, FlipBank’s technology solutions provide real estate investment managers (sponsors) a scalable platform for growing and managing a large investor-base. We are transforming real estate investing by creating universally accessible, transparent, and efficient markets. While our competitors are positioning themselves as online versions of institutional funding, we’re the only major provider delivering a comprehensive online funding and investor management solution. CrowdStreet’s platform extends beyond the fundraising of a deal to cultivating and growing lifetime value for the sponsor through building, managing and expanding ongoing investor relationships.</p>
            <p>To support our company’s rapid growth, we are hiring an Investor Relations Coordinator to help grow and manage the company’s investor membership base and facilitate the CrowdStreet Marketplace investment transaction processes. </p>
            <h4>What You'll Be Doing</h4>
            <p>The position will include fielding inbound investor inquiries and requests and providing exceptional customer service as well assisting in managing Marketplace sponsor relationships during live offering periods. This is an interdisciplinary role that bridges investor relations, marketing, sales, and customer success. The Investor Relations Coordinator will have the opportunity to learn and grow rapidly within the Investor Relations team. The ideal candidate will embrace the role of serving as the “go to” person at CrowdStreet for assisting Investor Members with new and existing investment needs. The position will support CrowdStreet’s Investor Relations Managers and report to the VP of Investments.</p>
            <p>The top priorities of the Business Development Manager are to:</p>
            <p>Serve as ‘investor concierge’ for active offerings on the CrowdStreet Marketplace with the goal of providing investors with exceptional customer service and a simple, satisfying path to engaging directly with the sponsors’ offerings.</p>
            <h4>Working at Flipbank</h4>
            <p>Located in the heart of downtown Portland just a block from Pioneer Square, CrowdStreet is proud of our cool, open and collaborative environment. Along with great benefits, killer coffee and a dog-friendly office, we offer the opportunity to be at the ground floor of a fast-growing startup with fun, smart, customer-driven people transforming the world of real estate investment.</p>
            <h4>How to Apply</h4>
            <p>Please submit your resume online with a cover letter stating: 1) Why you’re interested in working for CrowdStreet, and 2) A brief summary of how you meet each of our qualifications (including the “nice to haves”). The best way to do this is to copy/paste the requirements bullets and put a brief answer after each summarizing your relevant experience.</p>
            <p>We are moving quickly, so expect to receive a response within 24 hours of your application. Thanks!</p>
            
        </div>
        <div class="col-md-3 job_sidebar">
            <button class="btn btn-success btn-block">APPLY FOR THIS JOB</button>
            
            <button class="btn btn-default btn-block">SHARE &nbsp;
                <a href="http://www.linkedin.com/company/flipbank/"<i class="fa fa-linkedin share"></i></a>&nbsp;
                <a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"<i class="fa fa-facebook share"></i></a> &nbsp;
                <a href="http://www.twitter.com/flipbank_usa"<i class="fa fa-twitter share"></i></a>&nbsp;
                <a href="#"<i class="fa fa-envelope share"></i></a>
            </button><br>
            <div class="text-center"><i class="fa fa-lock"></i>  Your information is secure</div>
        <%#=link_to   %> 
  		<%#=link_to image_tag("twitter.png"),  %> 
  		<%#=link_to image_tag("youtube.png"), "https://www.youtube.com/channel/UCOsXvyuqfPhTpn0zxWuiqoQ?guided_help_flow=3" %>
  		<%#=link_to image_tag("instagram.png"), "http://www.instagram.com/flipbank_usa" %> 
  		<%#=link_to image_tag("snapchat-48.png"), "http://www.snapchat.com/add/flipbank" %>
  		<%#=link_to image_tag("linkedin.png"),  %> 
            
            <hr>
            <p>LOCATION</p>
            <p>Chicago Metro Area</p>
            <p>insert google map</p>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">FlipBank is an Equal Opportunity Employer</h3>
    <br><br>
</div>