<%= render 'layouts/header_app' %>

<div class="container">
<h1>Deal Center</h1>
    <div class="row">
        <div class="col-md-2">
           <p>image of property</p>
           <p>Loan Request: $150,000</p>
           <p>Return to Loan Details</p>
           <p>CLOSING DOCUMENTS</p>
        </div>
        <div class="col-md-6">
            <p>Your Status: Offer Pending Review</p>
            <h3>LANDMARK PLAZA</h3>
            <p>By Commercial Partners LLC</p>
            <p>Chicago, IL</p>
        </div>
        <div class="col-md-4">
            <p>CLOSING PROCESS OVERVIEW</p>
            <div class="stepbox1">
                <p>Offer Submission & Confirmation</p>
            </div>
            <div class="stepbox2">
                <p>Documents</p>
            </div>
            <div class="stepbox3">
                <p>Investor Verification</p>
            </div>
            <div class="stepbox4">
                <p>Funding</p>
                <p>You recieve funding instructions and provide funds</p>
            </div>
        </div>
        
    </div>
</div>