<%= render 'layouts/header_app' %>

<div class="container">
    <div class="row">
        <div class="col-md-8 main-summary">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="assets/images/house1.jpeg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="assets/images/house2.jpeg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                ...
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
                  <br>      
                        <div class="panel panel-default">
                          <div class="panel-body">
                            Basic panel example
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-body container">
                              <div class="row">
                                  <div class="col-sm-7">
                                    <h2>LIVE WEBINAR</h2>
                                    <p>Join members of [company] for a live<br> webinar and Q&A session on Wednesday,<br> May 10, 2017 at 11:00AM Central</p>
                                  </div>
                                  <div class="col-sm-5">
                                    <button class="btn btn-primary">Register for Webinar</button>
                                  </div>    
                              </div>
                          </div>
                        </div>
                        
                        <h2>WEBINAR</h2>
                        <hr>
                        <div class="tutorbox">
                            <iframe src="https://youtu.be/toVTP-vcsk8" width="800" height="500" align="middle">
                            </iframe>
                        </div>
                                            
                        <div class="panel panel-default">
                          <div class="panel-body">
                            KEY DEAL POINTS
                            <hr>
                            <p>High sponsor co-investment: Bridgeview has a $1,000,000 co-investment in the BV Multifamily Fund I.
LOI submitted on first asset: The sponsor has submitted an LOI on the first asset and is expecting to have the first investment made within the next 90 days.
Multifamily focus: A minimum of 90% of the fund will be invested into multifamily assets. Up to 10% of the fund may be deployed into multi-tenant retail assets.
Proven multifamily track record: Bridgeview has acquired or developed 12 assets totaling $318 million in total cost with six exits totaling $342 million. The average holding period on Bridgeview’s six exited assets is 3.8 years with a 2.6 average equity multiple.
Texas focused fund with a Texas-based manager: The Fund will target major Texas metro areas including Austin, DFW, Houston, and San Antonio (as well as select tertiary markets). BridgeView Real Estate in based in Dallas, TX.
Blend of existing assets and ground up construction: A minimum of 60% of the fund will be invested into existing assets. Up to 40% of the fund may be invested into ground up construction.
Experience in both asset strategies: Bridgeview’s portfolio activity includes both ground up construction and deep value add of existing assets.
Reduced minimum investment: Bridgeview has reduced the minimum investment from $250,000 to $50,000 for CrowdStreet investor members. </p>   
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-body">
                            Basic panel example
                          </div>
                        </div>
                        
                    </div>
        <div class="col-md-4 summary-items">
            <h3>BV Multifamily Fund I</h3>
            <p>An opportunistic multifamily fund targeting a blend of existing & new construction assets in major metro areas throughout Texas</p>
            <button class="btn btn-warning btn-lg btn-block">Invest Now</button>
            <br>
            <div class="panel panel-default">
          <div class="panel-body summary-table-container">
           
                <table class="summary-table">
                    <tbody>
                        <tr>
                            <td class="text-right">
                                <strong>Targeted Investor IRR:</strong>
                            </td>
                            <td>20-24%</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Targeted Equity Multiple:</strong>
                            </td>
                            <td>2.88x</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Targeted Investment Period:</strong>
                            </td>
                            <td>7 years</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Investment Profile:</strong>
                            </td>
                            <td>Equity Fund</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Minimum Investment:</strong>
                            </td>
                            <td>$50,000</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Property Type:</strong>
                            </td>
                            <td>Mixed</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Targeted Preferred Return:</strong>
                            </td>
                            <td>8%</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <strong>Sponsor:</strong>
                            </td>
                            <td>Bridgeview Real Estate</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div>
                <h4>DOCUMENTS</h4>
                <p><i class="fa fa-folder-open"></i>Investor Verification</p>
                <p><i class="fa fa-folder-open"></i>Subscription Agreement</p>
                <p><i class="fa fa-folder-open"></i>PPM</p>
                <p><i class="fa fa-folder-open"></i>Fund Overview Booklet</p>
            </div>
            <br>
            <div>
                <h4>RESOURCES</h4>
                <p><i class="fa fa-tv"></i>VIDEO: How to Review an Offering</p>
                <p><i class="fa fa-tv"></i>VIDEO: How to Complete an Investment</p>
                <p><i class="fa fa-tv"></i>VIDEO: FlipBank Marketplace Screening Process</p>
            </div>
            <br>
            <div>
                <h4>IMAGES</h4>
            </div>
            <br>
            <div>
                <h4>FEEDBACK</h4>
                <p>How interested are you in this offering?</p>
                <p>(1 = low, 5 = high)</p>
            </div>
        </div>
    </div>
</div>