<%= render 'layouts/header' %> 

<div class="text-center">
  <div class="jumbotron whybanner">
    <h1>Why Flipbank?</h1>
  </div> 
  <section class="container">
    <h3>Here are a few reason why so many people are using Flipbank</h3><br>
    <div class="row">
        <div class="col-md-6">
          <div class="topbox1">
            <h4>Reason #1</h4>
            <p>Tell them some really cool reasons to use Flipbank.  Make the reasons so good they would be stupid not to use it.</p>
          </div>  
        </div>
        <div class="col-md-6">
          <div class="topbox2">
            <h4>Reason #2</h4>
            <p>Tell them some really cool reasons to use Flipbank.  Make the reasons so good they would be stupid not to use it.</p>
          </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="botbox1">
            <h4>Reason #3</h4>
            <p>Tell them some really cool reasons to use Flipbank.  Make the reasons so good they would be stupid not to use it.</p>
          </div>  
        </div>
        <div class="col-md-6">
          <div class="botbox2">
            <h4>Reason #4</h4>
            <p>Tell them some really cool reasons to use Flipbank.  Make the reasons so good they would be stupid not to use it.</p>
          </div>  
        </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="row">
  <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12 people_choose_us">
						<div class="title_container">
							<h4>Why People Choose Us</h4>
							<span class="decor_default"></span>
						</div>
						<div class="row choose_category"> <!-- item1 -->
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 icon-holder">
								<span class="icon flaticon-speed2"></span>
								<i class="fa fa-angle-down"></i>
							</div>
							<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 text_holder">
								<h5>Fast Approval</h5>
								<p>Established sed fact will that sed tracted by sed the readable of a when looking when layout  finish on time.</p>
							</div>
						</div>
						<div class="row choose_category"> <!-- item2 -->
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 icon-holder">
								<span class="icon flaticon-house118"></span>
								<i class="fa fa-angle-down"></i>
							</div>
							<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 text_holder">
								<h5>Refinancing</h5>
								<p>Fact will that sed tracted by sed the readable on a looking when layout will becollections.</p>
							</div>
						</div>
						<div class="row choose_category"><!-- item3 -->
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 icon-holder">
								<span class="icon flaticon-tasks2"></span>
							</div>
							<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 text_holder">
								<h5>Free Documention</h5>
								<p>Tracted by sed the readable on contents of a  layout will be collections well documented.</p>
							</div>
						</div>
					</div> <!-- end people_choose_us -->
					</div>
  </div>
</section>
<br><br>
<div class="text-center works">
    <h1>How it Works</h1>
    <p>Applying for financing with Flipbank is simple and easy!</p>
    <div class="row">
        <div class="col-md-4">
            <h4>Apply</h4>
        </div>
        <div class="col-md-4">
            <h4>Get Approved</h4>
        </div>
        <div class="col-md-4">
            <h4>Get Funded</h4>
        </div>
    </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-5">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #4
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Collapsible Group Item #5
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Collapsible Group Item #6
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
    
</div>
<div class="col-md-5 col-md-offset-1">
          <div class="topbox1">
            <h4>Reason #1</h4>
            <p>Cool pic</p>
          </div>
</div>
</div>
</div>
</div>

<%= render 'layouts/footer' %>  